.page-holder {
    .page-header {
        background-color: #c7cfd3;
        height: 155px;

        .page-header-inner {
            padding: 40px 40px 10px 40px;

            h2 {
                color: #3a5a68;
                margin: 0;
                font-size: 22px;
                font-weight: 400;
            }
    
            .ivys-btn-icon-left {
                width: 100%;
            }
        }
        
    }
     
    .page-actions {
        margin-top: 20px;
        
        .ivys-btn-icon-left {
            width: 100%;
        }
    }

    .page-content {
        padding: 20px 40px 10px 40px;
    }
}