<div class="page-holder" [ng2-loading]="isLoading">
  <div class="page-header">
    <div class="page-header-inner">
      <div class="row">
        <div class="col-md-6">
          <h2>Seller Manager</h2>
        </div>
    
        <div class="col-md-6 text-right">
         
        </div>
      </div>

      <div class="header-action-bar">
        <div class="row">
          <div class="col-md-9">
            <div class="filter-btns-holder">
              <div class="filter-label">
                User Status:
              </div>
              <div class="filter-btn" (click)="filterUserist('all')" [ngClass]="{'selected': selectedFilter === 'all'}">
                All
              </div>
              <div class="filter-btn" (click)="filterUserist('emailVerified')" [ngClass]="{'selected': selectedFilter === 'emailVerified'}">
                Email Verified
              </div>
              <div class="filter-btn" (click)="filterUserist('emailNotVerified')" [ngClass]="{'selected': selectedFilter === 'emailNotVerified'}">
                Email Not Verified
              </div>
              <div class="filter-btn" (click)="filterUserist('Active')" [ngClass]="{'selected': selectedFilter === 'Active'}">
                Active
              </div>
              <div class="filter-btn" (click)="filterUserist('Inactive')" [ngClass]="{'selected': selectedFilter === 'Inactive'}">
                Inactive
              </div>
              <div class="filter-btn" (click)="filterUserist('Deleted')" [ngClass]="{'selected': selectedFilter === 'Deleted'}">
                Deleted
              </div>                         
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div class="page-content">
    <table class="table table-ivys" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Seller ID</th>
        <th scope="col">Company</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Created Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let seller of sellerList">
        <th scope="row"></th>
        <td>{{seller.gen_p_user_id}}</td>
        <td>{{seller.company_name}}</td>
        <td>{{seller.gen_p_full_name}}</td>
        <td>{{seller.gen_p_email}}</td>
        <td>
          {{seller.created_date | date: 'M/d/yy'}} <br> <small>{{seller.created_date | date: 'h:mm a'}}</small>
        </td>
        <td>          
          <span class="badge badge-warning mr-1" *ngIf="seller.verified === 1 && seller.gen_p_ivys_admin_aproval !== 'Deleted' && seller.gen_p_ivys_admin_aproval === 'Inactive'">
            Inactive
          </span>
          <span class="badge badge-success mr-1" *ngIf="seller.verified === 1 && seller.gen_p_ivys_admin_aproval === 'Active' && seller.gen_p_ivys_admin_aproval !== 'Deleted'">
            Active
          </span>
          <span class="badge badge-danger mr-1" *ngIf="seller.gen_p_ivys_admin_aproval === 'Deleted'">
            Deleted
          </span>          
          <span class="badge badge-warning mr-1" *ngIf="seller.verified === 0 && seller.gen_p_ivys_admin_aproval !== 'Deleted'">
            Email Not Verified
          </span>
          <span class="badge badge-success mr-1" *ngIf="seller.verified === 1 && seller.gen_p_ivys_admin_aproval === 'Inactive' && seller.gen_p_ivys_admin_aproval !== 'Deleted'">
            Email Verified
          </span>
        </td>
        <td>          
          <button type="button" tooltip="Deactivate User" class="btn btn-light btn-sm text-danger" *ngIf="seller.gen_p_ivys_admin_aproval === 'Active' && seller.verified === 1 && seller.gen_p_ivys_admin_aproval !== 'Deleted'" (click)="deactivateUser(seller);">
            <i class="fas fa-user-times"></i>
          </button>
          <button type="button" tooltip="Activate User" class="btn btn-light btn-sm text-success" *ngIf="seller.gen_p_ivys_admin_aproval === 'Inactive' && seller.verified === 1 && seller.gen_p_ivys_admin_aproval !== 'Deleted'" (click)="activateUser(seller);">
            <i class="fas fa-user-check"></i>
          </button>
          <button type="button" tooltip="More Info" class="btn btn-light btn-sm ml-1" (click)="userMoreData(seller);">
            <i class="fas fa-info-circle"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>